h1 {
    font-family: "rubik", sans-serif;
    text-align: center;
    color: #2E8B57;
    background-image: url("../images/lush-fern.jpg");
    background-color: #6B8E23;
}
img {
    opacity: 0.75;
    text-align: center;

}
.intro {
    text-align: center;
    font-family: "rubik", sans-serif;
    color: #2E8B57;
}