body {
    background-color: #556B2F;
}
h1 {
    font-family: "rubik", sans-serif;
    text-align: center;
    color: #2E8B57;
    background-image: url("../images/lush-fern.jpg");
    background-color: #6B8E23;
    border-radius: 50%;
    min-width: 150px;
    max-width: 150px;
    background-size: cover;
    border: 10px solid #6B8E23;
    padding: 15px 15px;
    margin: 0 auto;
}
#intro {
    text-align: center;
    font-family: "rubik", sans-serif;
    color: #2E8B57;
    border-radius: 25%;
    border: 5px solid;
    max-width: 350px;
    min-width:350px;
    display: inline-block;
}
#blog-entries {
    font-family: "roboto", sans-serif;
    color: #8B4513;
    display: block;
}
img {
    border-radius: 100%;
    display: inline-block;
}
footer {
    text-align: center;
}