body {
    background-color: #0e241e;
}
h1 {
    font-size: 50px;
    font-family: "rubik", sans-serif;
    text-align: center;
    color: #CB2D6F;
    background-image: url("../images/lush-fern.jpg");
    background-color: #6B8E23;
    border-radius: 50%;
    min-width: 150px;
    max-width: 300px;
    background-size: cover;
    border: 7px solid #501F3A;
    padding: 15px 15px;
    margin: 0 auto;
    max-height: 200px;
    min-height: 200px;
    text-shadow: -2px 0 #501f3a, 0 2px #501F3a, 2px 0 #501f3a, 0 -2px #501f3a;
    padding-top: 100px;
}
#intro {
    text-align: center;
    font-family: "rubik", sans-serif;
    color: #14A098;
    border-radius: 25%;
    border: 5px solid;
    max-width: 350px;
    min-width:350px;
    display: inline-block;
    margin: 50px 50px;
}
#blog-entries {
    font-family: "roboto", sans-serif;
    color: #CB2D6F;
    display: block;
    text-align: center;
    max-width: 400px;
    min-width: 200px;
    margin: 0 auto;
    border: 5px dotted;
    padding: 20px 50px;
}
img {
    border-radius: 25%;
    display: inline-block;
    max-width: 250px;
    min-width: 250px;
    min-height: 200px;
    max-height: 200px;
    border: 5px solid #14A098;
}
#intro-imgs {
    text-align: center;
}
footer {
    text-align: center;
    margin: 50px;
}
ul {
    width: 100px;
    padding: 0px 150px;
}
a:link {
    color: #483D8b;
}
a:visited {
    color: #14A098;
}